@charset "UTF-8";

article, aside,foter,header,main,nav,section, div {
 display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, main, nav, section{
	padding: 0;
	margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.nederste {
	    background-color: skyblue;
}

.Øverste {
	    background-color: skyblue;
}

.Logo {
	font-style: oblique;
	font-weight: bold;
	font-weight: 2100;
	
}

p{
	font-size: 20;
}

.vr {
    width:10px;
    background-color: #333;
    position:absolute;
    top:350;
    bottom:0;
    left:750px;
}

.fr {
    width:10px;
    background-color: #333;
    position:absolute;
    top:350;
    bottom:0;
    left:1150px;
}

.ff {
    width:400px;
    background-color: #333;
    position:absolute;
    top:570;
    bottom:0;
    left:750px;
	height: 10px;
}

.fe {
    width:1903px;
    background-color: #333;
    position:absolute;
    top: 980;
    bottom:0;
	height: 10px;
}

h3 {
	color: #FFFFFF;
	font-size: 24;
}

.idk {
	color: #FF0000;
} 

